.col-xs-12top {
    background-color: #7E7D7F;
    height: 110px;
}

.container-fluid two {
    background-color: #7E7D7F;
    height: 200px;
}

.col-md-4 {
    border-left: 5px solid #8DD3F7;
}

#footer {
    background-color: #7E7D7F;
    height: 200px;
    border-left: 5px solid #8DD3F7;
}

h4 {
    color: #8DD3F7;
    font-family: 'Raleway', sans-serif;
}

.col-xs-12menu {
    background-color: #A4A4A5;
    height: 50px;
}

.navbar {
    background-color: #A4A4A5;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav >  li > a {
    color: #ECEAE6;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    padding: 30px;
    padding-left: 55px;
    font-family: 'Raleway', sans-serif;
}

.searchIcon {
    height: 40px;
    width:  40px;
    align-self: right;
}

.first {
    padding-left: 210px;
}

/* .col-xs-12brands {
    background-color: #E0DFDA;
    height: 80px;
} */

.col-xs-12white {
    margin-top: 90px;
    background-color: #FFFFFF;
    height: 150px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #7E7D7F;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #ECEAE6;
}

.brands {
    width: 100vw;
    margin-left: 12px;
}

.navbar-header {
    background-color: #A4A4A5;
}
.col-xs-12topblue {
    background-color: #8DD3F7;
    height: 5px;
}

.col-xs-12 {
    background-color: #8DD3F7;
    height: 5px;
}

.logo {
    position: relative;
    top: 20px;
    left: 25px;
    height: 230px;
    width:  230px;
    z-index: 1;
}

.treats {
    /* height: 85vh; */
    width: 100vw;
}
